{% extends 'base.html' %}
{% block contenido %}
    <main class="equipos-delete">
        <h2>Eliminar equipo</h2>
        <a>Selecciona el equipo que deseas eliminar</a>
        <form class="form-equipos" method="post">
            {% csrf_token %}
            <label for="equipo_id">Equipo:</label>
            <select name="equipo_id" id="equipo_id">
                {% for equipo in equipos %}
                <option value="{{ equipo.pk }}">{{ equipo.pk }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Eliminar">
        </form>
    </main>
{% endblock %}
