{% extends 'base.html' %}
{% block contenido %}
    <main class="menu">
        <link rel="stylesheet" href="../../static/css/style.css">
        <h2>Gestión de equipos</h2>
        <section class="gestion-tickets">
            <div class="box-create">
                <a href="{% url 'equipos_create' %}">Crear equipos</a>
            </div>
            <h2>Listado de equipos</h2>
            <div class="box-busqueda">
                <form  METHOD="POST">
                    {% csrf_token %}
                    <div class="busqueda">
                        <input type="text" name="buscar" value="{{ request.POST.buscar }}" >
                        <button type="submit"> Buscar
                        </button>
                    </div>
                </form>
            </div>
            <div class="grid">
                {% if equipos %}
                    {% for equipo in equipos %}
                        <div class="box-item">
                            <a href="{% url 'equipos_show' equipo.id %}">
                                {{ equipo.numero_serie }} {{ equipo.modelo }}
                            </a>
                            <div class="box">
                                <div class="box-update">
                                    <a href="{% url 'equipos_update' pk=equipo.pk %}">Actualizar equipo</a>
                                </div>
                                <div class="box-eliminar">
                                    <form method="post" action="{% url 'equipos_delete' pk=equipo.pk %}" style="display:inline;">
                                        {% csrf_token %}
                                        <a type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este equipo?');">Eliminar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay equipos creados.</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}