{% extends 'base.html' %}
{% block contenido %}
        <h2>Listado de equipos</h2>
        {% if equipos %}
            <ul>
                {% for equipo in equipos %}
                	<li>
                        <a href="{% url 'equipos_show' equipo.id %}">{{ equipo.nombre }}</a>
                        <a href="{% url 'equipos_update' equipo.id %}">Actualizar</a>
                        <form method="POST" action="{% url "equipos_delete" equipo.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Eliminar">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay equipos creados.</p>
        {% endif %}
{% endblock %}