/*General*/


html{
   box-sizing: border-box;
}
h1{
   font-family: "Bebas Nenue",sans-serif;
}
a, h2, h3, p{
   font-family: "Raleway",sans-serif;
   text-decoration: none;
   color: black;
}


/*Header*/

.header-web{
    justify-content: space-between;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    background-color: #7288c4;
}
.header{
   height: 100%;
   padding-bottom: 2rem;
   font-size: 1.2rem;
}
.header h1, h3 {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}
.nombre-web a{
    font-family: "Bebas Nenue",sans-serif;
    color: white;
    margin-bottom: 0;
}
.subtitulo-web a{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
}

.opciones-sesion {
     text-align: right;
     border-radius: 0.5rem;
     padding: 1rem;
     margin-right: 3rem;
     flex-wrap: wrap;
    margin-top: 1rem;
}

.opciones-sesion a {
    border-right: 2px solid white;
    padding-right: 1rem;
    margin-right: 1rem;
    color: white;
    white-space: nowrap;
}

.opciones-sesion a:last-child {
    border-right: none;
    margin-right: 0;
}

@media (max-width: 1000px) {
    .header-web {
        font-size: 0.8rem;
        flex-direction: column;
        margin-right: 0;
        padding-right: 0;
    }
}

@media (max-width: 510px) {
    .subtitulo-web {
        display: block;
        align-items: center;
    }
    .opciones-sesion {
        align-items: center;
        margin-right: 0;
        padding: 0.5rem;
    }

    .opciones-sesion a {
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: 1px solid white;
    }

    .opciones-sesion a:last-child {
        border-right: none;
        margin-right: 0;
    }
}


/*Navegacion*/

.contenedor-nav{
   border-top: 2px solid gray;
   border-bottom: 2px solid gray;
}

.contenedor{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.contenedor a {
    justify-content: center;
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-right: 1px solid gray;
}

.contenedor a:last-child {
    margin-right: 0;
    border-right: none;
}


.contenedor a:hover{
   color: grey;
}

@media (max-width: 1200px) {

   .contenedor{
       grid-template-columns: auto;
   }
}

/* Botones de tamaño de texto */

.selector-texto {
    border: 1px solid #666;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 60rem 2rem 4rem;
    font-size: 0.8rem;
}

@media (max-width: 1210px) {
   .selector-texto {
      margin-right: 35%;
   }
}



/* Footer */

.site-footer{
    margin-top: 3rem;
    padding-bottom: 1%;
    border-top:2px solid gray;
}

.site-footer a {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    display: inline-block;
    border-right: 1px solid gray;
    margin-right: 1rem;
    line-height: 0.5rem;
}

.site-footer a:last-child {
    border-right: none;
    margin-right: 0;
}


.site-footer p {
    font-size: 0.8rem;
    color: black;
}

.site-footer h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 2rem;
}

.navegacion{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.bottom-footer{
   padding-top: 3rem;
   color: white;
   text-align: center;
}
.bottom-footer a {
    color: #81d4fa;
}

@media (max-width: 500px) {

    .navegacion a {
        font-size: 0.8rem;
    }
}


/* Fuentes área de gestión */
.menu a{
   margin-left: 2rem;
   color: white;
   font-weight: bold;
}

.menu p {
    margin-left: 3rem;
}

.menu a:hover{
   color: darkgray;
}


.tickets-grid a,
.empleados-grid a,
.equipos-grid a
{
   margin-left: 1rem;
}




.menu h2,
.detail h2,
.tickets-update h2,
.equipos-delete h2 {
   margin-top: 3rem;
   margin-left: 3rem;
}

/*Buscador*/
.box-busqueda{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    padding: 1rem 0;
}

.busqueda{
    height: 1.5rem;
}
.busqueda input{
    font-family: "Raleway",sans-serif;
}
.busqueda button{
    font-family: "Raleway",sans-serif;
    width: 4rem;
    height: 1.5rem;
}

.tickets-create h2,
.equipos-create h2,
.empleados-create h2
{
   margin-top: 1rem;
   margin-left: 1rem;
}


.equipos-delete a {
   margin-left: 3rem;
   margin-top: 3rem;
}

.tickets-update a {
   margin-left: 3rem;
   margin-top: 3rem;
   font-weight: bold;
   color: white;
}

.orden{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.orden a {
    color: black;
    background-color: #ffffff;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 3px;
    min-width: 9rem;
    align-items: center;
}

.eliminar button {
    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    margin-left: 5rem;
}

@media (max-width: 460px) {
    .eliminar button {
        display: block;
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }
}



/* Divs generales de apartados */


.box-create
{
   padding: 2rem;
   margin-left: 4rem;
   margin-right: 24rem;
   margin-top: 2rem;
   background-color: #7288c4;
}

.box-create {
    margin-bottom: 3rem;
}


@media (max-width: 700px) {


    .box-create,
    .box-equipos-delete {
        margin-right: 4rem;
    }
}


.box-delete {
   margin-bottom: 3rem;
}


/* Grids de listas */


.grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 950px) {
   .grid {
       margin-top: 3rem;
       display: block;
   }
}

.box-item {
    background-color: #7288c4;
    padding: 2rem;
    margin: 1rem 3rem;
}

.box-update a {
    margin-left: 0;
    font-weight: bold;
    padding: 1px 16px;
    border: 1px solid transparent;
    white-space: nowrap;
    display: inline-block;
}

.detalle a:hover{
    border: 1px solid #b0b0b0;
    background-color: #f1f1f1;

}

.box-eliminar{
    margin-left: 1rem;
}

.box {
    display: flex;
    padding-top: 4rem;
    padding-left: 11rem;
}

@media (max-width: 650px) {
    .box {
        font-weight: normal;
        font-size: 0.7rem;
        padding-left: 0;
        padding-top: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
    }
}


/* Detalle de cada campo */


.label,
.ticket-label-2,
.ticket-label-3,
.ticket-label-4{
   font-size: 1.20rem;
   font-weight: bold;
   color: white;
}


.ticket-label-2 {
    margin-bottom: 2rem;
}


.ticket-label-3,
.ticket-label-4,
.ticket-content-3,
.ticket-content-4 {
   margin-left: 2rem;
    margin-bottom: 2rem;
}


.box-detail a {
    display: block;
    margin-top: 1rem;
}


.box-detail{
   background-color: #7288c4;
   padding: 2rem;
   margin: 2rem 3rem 5rem 4rem;
}


@media (max-width: 900px) {
   .box-detail {
       background-color: #7288c4;
       padding: 2rem;
       margin: 2rem 2rem 5rem 2rem;
   }
}


/* Apartados create, update y delete */


.tickets-create,
.equipos-create,
.empleados-create {
   padding: 2rem;
}
.caja-update{
    margin-top: 3rem;
}

.caja-update h2 {
    margin-left: 3rem;
}

.form-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2rem;
}


@media (max-width: 1030px) {
   .form-grid {
       display: block;
   }
}

.accesos {
    align-items: center;
    margin-top: 3rem;
}

.cancelar {
    margin-left: 2rem;
}

.form-grid li {
   list-style: none;
}


.form-grid label {
   display: block;
}


.form-grid input[type="text"] {
   width: 16rem;
}


.form-grid select {
   width: 16rem;
}




.form-grid textarea {
   resize: both;
   width: 16rem;
   height: 5rem;
}


.ticket-form,
.equipo-form,
.empleado-form,
.login-form,
.signup-form {
   border: 1px solid #666;
   padding: 2rem;
   margin-right: 15rem;
   margin-top: 2.5rem;
   margin-bottom: 5rem;
}


@media (max-width: 1030px) {
   .ticket-form,
   .equipo-form,
   .empleado-form {
       border: none;
   }
}


.ticket-form,
.ticket-form *,
.equipo-form,
.equipo-form *,
.empleado-form,
.empleado-form * {
   font-family: "Raleway", sans-serif;
}


.grid-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
}


@media (max-width: 900px) {
   .grid-container {
   display: block;
   }
}


.grid-item {
   margin-bottom: 1rem;
}


.equipo-form input[type="submit"] {
   margin-top: 1.5rem;
}


.empleado-form input[type="submit"] {
   margin-top: 1.5rem;
}


label[for="equipo_id"] {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   margin-left: 3rem;
}


.form-equipos,
.form-tickets {
       margin-top: 2rem;
}


input[type="submit"] {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   margin-left: 3rem;
}


.form-equipos select {
   font-family: "Raleway", sans-serif;
   font-size: 16px;

}


.ticket-form,
.form-fields {
   margin-left: 3rem;
}


@media (max-width: 1030px) {
   .ticket-form,
   .form-fields {
   margin-left: 0;
}

}

input[type="submit"] {
   margin-top: 2rem;
}

.salir{
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.salir a {
    color: black;
    background-color: #f4f4f4;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px 15px;
    width: auto;
}

/* Inicio de sesión, registro y cierre de sesión */

.signup,
.login {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.form-group a {
    margin-top: 1rem;
}

.signup-form .form-group,
.login-form .form-group {
    display: flex;
    flex-direction: row;
}

.signup label,
.login label {
    width: 20rem;
    margin-right: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

.signup input,
.signup p,
.login input,
.login p {
    flex: 1;
    margin-right: 0;
}

.signup p,
.login p {
    flex-basis: 100%;
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

.signup h2,
.login h2 {
    margin-top: 3rem;
    margin-left: 3rem;
}

.signup-form button,
.login-form button {
    margin-top: 1rem;
    align-self: flex-start;
}

.signup-form input,
.login-form input {
    margin-right: 40rem;
    flex: 1;
}