/*General*/


html{
   box-sizing: border-box;
}
h1{


   font-family: "Bebas Nenue",sans-serif;
}
a, h2, h3, p{
   font-family: "Raleway",sans-serif;
   text-decoration: none;
   color: black;
}


/*Header*/


.header-web{
    justify-content: space-between;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    background-color: #7288c4;
}
.header{
   height: 100%;
   padding-bottom: 2rem;
   font-size: 1.2rem;
}
.header h1, h3 {
    display: inline;
    margin-right: 2rem;
}
.nombre-web{
   color: white;
   margin-bottom: 0;
}
.subtitulo-web{
   margin-top: 1rem;
   color: white;
}

.opciones-sesion {
     text-align: right;
     border-radius: 0.5rem;
     padding: 1rem;
     margin-right: 3rem;
     flex-wrap: wrap;
}

.opciones-sesion a {
    border-right: 2px solid white;
    padding-right: 1rem;
    margin-right: 1rem;
    color: white;
    white-space: nowrap;
}

.opciones-sesion a:last-child {
    border-right: none;
    margin-right: 0;
}

@media (max-width: 1000px) {
    .header-web {
        font-size: 0.8rem;
        flex-direction: column;
        margin-right: 0;
        padding-right: 0;
    }
}

@media (max-width: 510px) {
    .subtitulo-web {
        display: block;
        align-items: center;
    }
    .opciones-sesion {
        align-items: center;
        margin-right: 0;
        padding: 0.5rem;
    }

    .opciones-sesion a {
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: 1px solid white;
    }

    .opciones-sesion a:last-child {
        border-right: none;
        margin-right: 0;
    }
}


/*Navegacion*/

.contenedor-nav{
   border-top: 2px solid gray;
   border-bottom: 2px solid gray;
}

.contenedor{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.contenedor a {
    justify-content: center;
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-right: 1px solid gray;
}

.contenedor a:last-child {
    margin-right: 0;
    border-right: none;
}


.contenedor a:hover{
   color: grey;
}

@media (max-width: 1200px) {

   .contenedor{
       grid-template-columns: auto;
   }
}

/* Botones de tamaño de texto */

.selector-texto {
    border: 1px solid #666;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 60rem 2rem 4rem;
    font-size: 0.8rem;
}

@media (max-width: 1210px) {
   .selector-texto {
      margin-right: 35%;
   }
}



/* Footer */

.site-footer{
    margin-top: 3rem;
    padding-bottom: 1%;
    border-top:2px solid gray;
}

.site-footer a {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    display: inline-block;
    border-right: 1px solid gray;
    margin-right: 1rem;
    line-height: 0.5rem;
}

.site-footer a:last-child {
    border-right: none;
    margin-right: 0;
}


.site-footer p {
    font-size: 0.8rem;
    color: black;
}

.site-footer h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 2rem;
}

.navegacion{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.bottom-footer{
   padding-top: 3rem;
   color: white;
   text-align: center;
}
.bottom-footer a {
    color: #81d4fa;
}

@media (max-width: 500px) {

    .navegacion a {
        font-size: 0.8rem;
    }
}


/* Fuentes área de gestión */

h1, h2 {
   font-family: "Bebas Neue", sans-serif;
}


a, h2, p {
   font-family: "Raleway", sans-serif;
   text-decoration: none;
}


.tickets-menu a,
.tickets-index a,
.empleados-menu a,
.empleados-index a,
.equipos-menu a,
.equipos-index a
{
   margin-left: 2rem;
   color: white;
   font-weight: bold;
}


.empleados-index p,
.equipos-index p,
.tickets-index p {
   margin-left: 3rem;
}


.tickets-grid a,
.empleados-grid a,
.equipos-grid a
{
   margin-left: 1rem;
}


.tickets-menu a:hover,
.tickets-index a:hover,
.empleados-menu a:hover,
.empleados-index a:hover,
.equipos-menu a:hover,
.equipos-index a:hover{
   color: #f5f5f5;
}


.tickets-menu h2,
.tickets-index h2,
.tickets-detail h2,
.tickets-update h2,
.empleados-menu h2,
.empleados-index h2,
.equipos-menu h2,
.equipos-index h2,
.equipos-detail h2,
.equipos-delete h2,
.empleados-detail h2
{
   margin-top: 3rem;
   margin-left: 3rem;
}

/*Buscador*/
.box-busqueda{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    padding: 1rem 0;
}

.busqueda{
    height: 1.5rem;
}
.busqueda input{
    font-family: "Raleway",sans-serif;
}
.busqueda button{
    font-family: "Raleway",sans-serif;
    width: 4rem;
    height: 1.5rem;
}

.tickets-create h2,
.equipos-create h2,
.empleados-create h2
{
   margin-top: 1rem;
   margin-left: 1rem;
}


.equipos-delete a {
   margin-left: 3rem;
   margin-top: 3rem;
}

.tickets-update a {
   margin-left: 3rem;
   margin-top: 3rem;
   font-weight: bold;
   color: white;
}

.box-tickets-update a {
   color: white;
   font-weight: bold;
}

.box-tickets-update a:hover {
   color: #f5f5f5;

}

/* Divs generales de apartados */


.box-tickets-index,
.box-tickets-create,
.box-equipos-index,
.box-equipos-create,
.box-equipos-delete,
.box-empleados-index,
.box-empleados-create
{
   padding: 2rem;
   margin-left: 4rem;
   margin-right: 24rem;
   margin-top: 2rem;
   background-color: #7288c4;
}

.box-tickets-create,
.box-empleados-create {
    margin-bottom: 3rem;
}


@media (max-width: 700px) {


.box-tickets-index,
.box-tickets-create,
.box-equipos-index,
.box-equipos-create,
.box-equipos-delete,
.box-empleados-index,
.box-empleados-create {
       margin-right: 4rem;
   }


}


.box-equipos-delete {
   margin-bottom: 3rem;
}


.box-tickets-update {
   margin-bottom: 3rem;
   margin-right: 30rem;
}

.box-tickets-item,
.box-equipos-item,
.box-empleados-item
{
   padding: 2rem;
   margin-left: 4rem;
   margin-right: 24rem;
   margin-top: 1rem;
   background-color: #7288c4;
}


/* Grids de listas */


.tickets-grid, .equipos-grid, .empleados-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 950px) {
   .tickets-grid, .equipos-grid, .empleados-grid {
       margin-top: 3rem;
       display: block;
   }
}


.box-tickets-item, .box-equipos-item, .box-empleados-item {
   background-color: #7288c4;
   padding: 2rem;
   margin-right: 4rem;
   margin-left: 3rem;
}


.tickets-index,
.empleados-index,
.equipos-index
{
   margin-bottom: 4rem;
}


/* Detalle de cada campo */


.ticket-label,
.ticket-label-2,
.ticket-label-3,
.ticket-label-4,
.equipo-label,
.empleado-label {
   font-size: 1.20rem;
   font-weight: bold;
   color: white;
}


.ticket-label-2 {
    margin-bottom: 2rem;
}


.ticket-label-3,
.ticket-label-4,
.ticket-content-3,
.ticket-content-4 {
   margin-left: 2rem;
    margin-bottom: 2rem;
}


.ticket-content,
.equipo-content,
.empleado-content {
   margin-bottom: 1.5rem;
}


.ticket-content-2 {
   margin-bottom: 4rem;
}


.box-tickets-detail a,
.box-equipos-detail a,
.box-empleados-detail a {
    display: block;
    margin-top: 1rem;
}


.box-tickets-detail,
.box-equipos-detail,
.box-empleados-detail,
.box-tickets-update {
   background-color: #7288c4;
   padding: 2rem;
   margin: 2rem 30rem 5rem 4rem;
}


@media (max-width: 900px) {
   .box-tickets-detail,
   .box-equipos-detail,
   .box-empleados-detail,
   .box-tickets-update {
       background-color: #7288c4;
       padding: 2rem;
       margin: 2rem 2rem 5rem 2rem;
   }
}


/* Apartados create, update y delete */


.tickets-create,
.equipos-create,
.empleados-create {
   padding: 2rem;
}


.form-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2rem;
}


@media (max-width: 1030px) {
   .form-grid {
       display: block;
   }
}


.form-grid li {
   list-style: none;
}


.form-grid label {
   display: block;
}


.form-grid input[type="text"] {
   width: 16rem;
}


.form-grid select {
   width: 16rem;
}




.form-grid textarea {
   resize: both;
   width: 16rem;
   height: 5rem;
}


.ticket-form,
.equipo-form,
.empleado-form,
.login-form,
.signup-form {
   border: 1px solid #666;
   padding: 2rem;
   margin-right: 15rem;
   margin-top: 2.5rem;
   margin-bottom: 5rem;
}


@media (max-width: 1030px) {
   .ticket-form,
   .equipo-form,
   .empleado-form {
       border: none;
   }
}


.ticket-form,
.ticket-form *,
.equipo-form,
.equipo-form *,
.empleado-form,
.empleado-form * {
   font-family: "Raleway", sans-serif;
}


.grid-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
}


@media (max-width: 900px) {
   .grid-container {
   display: block;
   }
}


.grid-item {
   margin-bottom: 1rem;
}


.equipo-form input[type="submit"] {
   margin-top: 1.5rem;
}


.empleado-form input[type="submit"] {
   margin-top: 1.5rem;
}


label[for="equipo_id"] {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   margin-left: 3rem;
}


.form-equipos,
.form-tickets {
       margin-top: 2rem;
}


input[type="submit"] {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   margin-left: 3rem;
}


.form-equipos select {
   font-family: "Raleway", sans-serif;
   font-size: 16px;

}


.ticket-form,
.form-fields {
   margin-left: 3rem;
}


@media (max-width: 1030px) {
   .ticket-form,
   .form-fields {
   margin-left: 0;
}

}

input[type="submit"] {
   margin-top: 2rem;
}

/* Inicio de sesión, registro y cierre de sesión */

.signup,
.login {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.form-group a {
    margin-top: 1rem;
}

.signup-form .form-group,
.login-form .form-group {
    display: flex;
    flex-direction: row;
}

.signup label,
.login label {
    width: 20rem;
    margin-right: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

.signup input,
.signup p,
.login input,
.login p {
    flex: 1;
    margin-right: 0;
}

.signup p,
.login p {
    flex-basis: 100%;
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

.signup h2,
.login h2 {
    margin-top: 3rem;
    margin-left: 3rem;
}

.signup-form button,
.login-form button {
    margin-top: 1rem;
    align-self: flex-start;
}

.signup-form input,
.login-form input {
    margin-right: 40rem;
    flex: 1;
}