{% extends 'base.html' %}
{% block contenido %}
   <main class="caja-update">
       <h2>Actualizar tickets</h2>
       <form class="ticket-form" method="post">
           {% csrf_token %}
           <div class="form-grid">
               {{ formulario.as_ul }}
           </div>
           <div class="accesos">
               <input type="submit" value="Actualizar ticket"/>
               <a href="{% url 'tickets_menu' %}">Cancelar</a>
           </div>
       </form>
       <div class="box-eliminar">
           <form method="post" action="{% url 'tickets_delete' pk=ticket.pk %}" style="display:inline;">
               {% csrf_token %}
               <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este ticket?');">Eliminar</button>
           </form>
       </div>
   </main>
{% endblock %}
