{% extends 'base.html' %}
{% block contenido %}
    <main class="detail">
        <h2>Detalle del empleado</h2>
        <div class="box-detail">
            {% if empleado %}
                <a class="label">DNI</a>
                <a class="content">{{ empleado.dni }}</a>
                <a class="label">Nombre</a>
                <a class="content">{{ empleado.nombre }}</a>
                <a class="label">Apellidos</a>
                <a class="content">{{ empleado.apellidos }}</a>
                <a class="label">Email</a>
                <a class="content">{{ empleado.email }}</a>
                <a class="label">Teléfono</a>
                <a class="content">{{ empleado.telefono }}</a>
            {% else %}
                <p>No existe este empleado.</p>
            {% endif %}
            <div class="orden">
                <div class="box-update detalle">
                    <a href="{% url 'empleados_update' pk=empleado.pk %}">Actualizar empleado</a>
                </div>
                <div class="eliminar">
                    <form method="post" action="{% url 'empleados_delete' pk=empleado.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="salir">
            <a href="{% url 'empleados_menu' %}">Atras</a>
        </div>

    </main>
{% endblock %}
