{% extends 'base.html' %}
{% block contenido %}
    <main class="menu">
    <h2>Gestión de empleados</h2>
        <section class="gestion-tickets">
            <div class="box-create">
                <a href="{% url 'empleados_create' %}">Crear empleados</a>
            </div>
            <h2>Listado de empleados</h2>
            <div class="box-busqueda">
                <form METHOD="POST">
                    {% csrf_token %}
                    <div class="busqueda">
                        <input type="text" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}" >
                        <button type="submit">
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
            <div class="grid">
                {% if empleados %}
                    {% for empleado in empleados %}
                        <div class="box-item">
                            <a href="{% url 'empleados_show' empleado.pk %}">
                                {{ empleado.dni }} {{ empleado.nombre }} {{ empleado.apellidos }}
                            </a>
                            <div class="box">
                                <div class="box-update">
                                    <a href="{% url 'empleados_update' pk=empleado.pk %}">Actualizar empleado</a>
                                </div>
                                <div class="box-eliminar">
                                    <form method="post" action="{% url 'empleados_delete' pk=empleado.pk %}" style="display:inline;">
                                        {% csrf_token %}
                                        <a type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">Eliminar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay empleados creados.</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}